<div id="container">
	<div class="row" id="saldo">
		<h4>Saldo Total</h4>
	</div>    	
	<div class="container mt-2" id="boton">
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn" (click)="onclick()">
				<h1>{{Mostrar?"******": "0.0000$ ARS" }}</h1>
				</button>
				<br>
				<ng-container *ngIf="visible">
					
					
					<h2> ¡No te hundas! recarga ya! es muy facil</h2>
					<br>
					<img class="ballena" src="assets/img/ballena.svg" alt="ballena">
				</ng-container>
			</div>
		</div>
	</div>
</div>