<div id="footer">
<footer class="page-footer font-small teal pt-4">

  
    <div class="container-fluid text-center text-md-left">
  
      
      <div class="row">
  
        <div class="col-md-6 mt-md-0 mt-3">
  
          <h5 class="text-uppercase font-weight-bold">Acerca de DC-WALLET</h5>
          <p>Es una aplicación móvil con la que podés hacer múltiples operaciones financieras aunque no tengas cuenta en un banco.
               Con la billetera virtual haces todo desde el celular, sin salir de tu casa y sin hacer filas.</p>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-6 mb-md-0 mb-3">
  
          <h5 class="text-uppercase font-weight-bold">Creadores DC-WALLET</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Jorge</a>
            </li>
            <li>
              <a href="#!">Sabri</a>
            </li>
            <li>
              <a href="#!">Sergio</a>
            </li>
            <li>
              <a href="#!">Santi</a>
            </li>
          </ul>
  
        </div>
  
      </div>
  
    </div>
  
    <div class="footer-copyright text-center py-3">DC-WALLET COPYRIGHT <a href="https://www.youtube.com/watch?v=qEMYTkqWrcQ"> DC-WALLET</a></div>
    

  </footer>
</div>
  