.text-white{
    text-decoration:none;
}



a:hover {
  background-color: rgb(111, 36, 134);
  transition: background-color .5s;
}

.footer{
  width: 100%;
  position: relative;
  clear: both;
  margin-top: 0px;
  padding-top: 0px;
  overflow: visible
}
