<section class="footer">
  <!-- Footer -->
  <footer class="bg-dark text-white text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
       
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Acerca de DC-WALLET</h5>

          <p>
            Es una aplicación móvil con la que podés hacer múltiples operaciones
            financieras aunque no tengas cuenta en un banco. Con la billetera
            virtual haces todo desde el celular, sin salir de tu casa y sin
            hacer filas.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contacto de creadores</h5>

          <ul class="list-unstyled mb-0 ">
            <li>
              <a href="#!" class="text-white">Jorge Salas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Santiago</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sergio</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sabrina</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="form-outline form-white mb-4">
              <label class="form-label " for="form5Example2">Registra gratis y empieza tu experiencia DC-wallet</label>
              <label class="form-label " for="form5Example2">Ingresa tu E-mail</label>
              <input type="email" id="form5Example2" class="form-control" />
            </div>
            <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              Suscribite
            </button>
            
          </div>
          </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgb(0, 0, 0)">
      © 2020 Copyright DC-WALLET | DC-WALLET S.R.L. Todos los Derechos Reservados |
      <a class="text-white" href="https://www.youtube.com/watch?v=cst9Dxn3_UM">DC-WALLET</a>
    </div>
  </footer>
</section>


