<div class="row pt-5">
    <div class="col-md-8">
        <h1 class="title py-1">SOMOS PIL MONEY TU BILLETERA VIRTUAL</h1>
        <h2 class="texto-1 py-1">LLegamos para hacer tu economía más fácil, sin letras chicas. Liberen a Wallet</h2>
        <p class="texto-2 py-1">Con PIL vas a poder enviar y recibir dinero en el acto! Pagar servicios sin moverte de tu casa. Comprar, vender moneda extranjera y moneda virtual.</p>
        <div class="d-flex justify-content-around pt-4">
            <button class="button-1" type="button"> REGISTRATE</button>
            <div class="row pl-10">
                <span>Ya tienes una cuenta pil?</span>
                <a class="link" routerLink="/iniciar-sesion">inicia sesion</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img class="celu" src="assets/img/celu.svg" alt="cellphoneapp">
    </div>
</div>