.item-bar{
    color: white;


}

.item-bar:hover{
    color: #7A1DC9;
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 5px 5px rgb(153, 0, 255);
}

.menu-btn{
    background-color: #7A1DC9;
    color: white;
    width:13rem;
    height: 50px;
    border: 1px solid #6b18b3;
    
}

.menu-btn:hover {
    background-color: #521686;

}