<div class="row justify-content-center pt-1 pb-5">
    <div class="col-md-10">
        <div class="cardi card">
            <div class="card-header text-center"><strong>REGISTRO</strong></div>
            <div class="card-body">
                <form [formGroup]="form"  class="form" (ngSubmit)="onEnviar($event, cliente)" > <!--Como el ej de la profe-->
                    <div class="row">
                        <div class="col-md-6"> 
                            <label class="px-1 pb-1" for="nombre">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                                    </svg>
                                </span>


                                <input type="text" class="form-control" id="nombre" formControlName="nombre" [(ngModel)]="cliente.nombre" placeholder="Ingrese su nombre"  [class.border-danger]="NombreValid">
                                <div *ngIf="Nombre?.errors  && Nombre?.touched">
                                    <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                                      El nombre es requerido.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <label class=" px-1 pb-1" for="">Apellido</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                                    </svg>
                                </span>


                                <input type="text" class="form-control" id="apellido" formControlName="apellido" [(ngModel)]="cliente.apellido" placeholder="Ingrese su apellido"  [class.border-danger]="ApellidoValid">
                                <div *ngIf="Apellido?.errors  && Apellido?.touched">
                                    <p *ngIf="Apellido?.hasError('required')" class="text-danger">
                                      El apellido es requerido.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col">
                            <label class="px-1 pb-1" for="nombre">Numero de DNI</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-person-badge" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path
                                            d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
                                    </svg>
                                </span>


                                <input type="text" class="form-control" id="dni" formControlName="dni" [(ngModel)]="cliente.dni" placeholder="Ingrese su número de DNI" [class.border-danger]="DniValid">
                                <div *ngIf="Dni?.errors  && Dni?.touched">
                                    <p *ngIf="Dni?.hasError('required')" class="text-danger">
                                      El dni es requerido.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <label class="px-1 pb-1 custom-file-label" for="customFile">Verifica tu identidad</label>
                            <div class="custom-file">
                                <span id="basic-addon1">
                                    <button class="up-btn" onclick="document.getElementById('getFile').click()">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" viewBox="0 0 16 16">
                                            <path
                                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                            <path
                                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                                        </svg>
                                        Selecciona un archivo</button>


                                    <input type='file' id="getFile"  formControlName="fotoDni" [(ngModel)]="cliente.fotoDni" style="display:none" [class.border-danger]="PasswordValid" >
                                    <div *ngIf="Password?.errors  && Password?.touched">
                                        <p *ngIf="Password?.hasError('required')" class="text-danger">
                                          Foto del DNI Requerido.
                                        </p>
                                    </div>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="px-2 pt-2">
                        Soy
                        <div class="mx-2 form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Hombre" value="option1">
                            <label class="form-check-label" for="Hombre">Hombre</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Mujer" value="option2">
                            <label class="form-check-label" for="Mujer">Mujer</label>
                        </div>
                    </div>
                    <div class="py-2 row ciudad">
                        <div class="form-group col-md-6">
                            <label class="px-1" for="inputCity">Ciudad</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-building" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z">
                                        </path>
                                        <path
                                            d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z">
                                        </path>
                                    </svg>
                                </span>
                                <input type="text" class="form-control" id="ciudad" formControlName="ciudad" [(ngModel)]="cliente.ciudad" placeholder="Ingrese el nombre de su ciudad">
                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            <label class="px-1" for="inputState">Provincia</label>
                            <select id="inputState" class="form-control" id="provincia" formControlName="provincia" [(ngModel)]="cliente.provincia">
                                <option selected>Seleccione una Provincia</option> 
                                <option>Buenos Aires</option>
                                <option>Catamarca</option>
                                <option>Chaco</option>
                                <option>Chubut</option>
                                <option>Córdoba</option>
                                <option>Corrientes</option>
                                <option>Entre Rios</option>
                                <option>Formosa</option>
                                <option>Jujuy</option>
                                <option>La Pampa</option>
                                <option>La Rioja</option>
                                <option>Mendoza</option>
                                <option>Misiones</option>
                                <option>Nequén</option>
                                <option>Rio Negro</option>
                                <option>Salta</option>
                                <option>San Juan</option>
                                <option>San Luis</option>
                                <option>Santa Cruz</option>
                                <option>Santa Fé</option>
                                <option>Santiago del Estero</option>
                                <option>Tierra del Fuego, Antártida e Isla del Atlántico Sur</option>
                                <option>Tucumán</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="px-1" for="inputZip">Codigo Postal</label>
                            <input type="text" class="form-control" id="cP" formControlName="cP" [(ngModel)]="cliente.cP" placeholder="Ej: 5800">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group py-2">
                            <label class=" pb-1 px-1" for="inputUser">Nombre de usuario</label>
                            <div class="input-group">

                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd"
                                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                    </svg>
                                </span>

                                <input type="text" placeholder="Crear su nombre de usuario" class="form-control"  id="nombreUsuario" formControlName="nombreUsuario" [(ngModel)]="cliente.nombreUsuario">
                            </div>

                        </div>
                        <div class="col-md-6 form-group py-2">
                            <label class="pb-1 px-1" for="inputEmail">Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                    </svg>
                                </span>
                                <input type="email" placeholder="Ingrese su dirección de e-mail" class="form-control"  id="email" formControlName="email" [(ngModel)]="cliente.email" aria-describedby="emailHelp">
                            </div>
                            <div *ngIf="Email?.errors && Email?.touched" class='text-danger'>
                                <small *ngIf="Email.hasError('pattern')">
                                    Email no valido
                                </small>
                                <small *ngIf="Email.hasError('required')">
                                    Debe ingresar una dirección de e-mail
                                </small>
                            </div>
                        </div>
                    </div>
                    <label class="pt-2 px-1" for="inputPassword">Crear Contraseña</label>
                    <div class="row">
                        <div class="col-md-6 form-group py-2">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-file-lock2" viewBox="0 0 16 16">
                                        <path
                                            d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z" />
                                        <path
                                            d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                    </svg>
                                </span>
                                <input type="password" placeholder="Ingrese una contraseña" class="form-control"  id="password" formControlName="password" [(ngModel)]="cliente.password" [class.border-danger]="PasswordValid">
                            </div>
                            <div class="p-3" *ngIf="Password?.errors && Password?.touched" class='text-danger'>
                                <small *ngIf="Password.hasError('pattern')">
                                    La clave debe contener una letra Mayuscula y *
                                </small>
                                <small *ngIf="Password.hasError('minlength')">
                                    El minimo de digitos requerido es 6.
                                </small>
                                <small *ngIf="Password.hasError('required')">
                                    La contraseña es requerida.
                                </small>

                            </div>

                        </div>

                        <div class="col-md-6 form-group py-2">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-file-lock2" viewBox="0 0 16 16">
                                        <path
                                            d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z" />
                                        <path
                                            d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                    </svg>
                                </span>
                                <input type="password" placeholder="Repetir contraseña" class="form-control"  id="password2"  formControlName="password2" [(ngModel)]="cliente.password2" [class.border-danger]="Password2Valid">
                            </div>
                            <div class="p-3" *ngIf="Password2?.errors && Password2?.touched" class='text-danger'>
                                <small *ngIf="Password2.hasError('pattern')">
                                    La clave debe contener una letra Mayuscula y *
                                </small>
                                <small *ngIf="Password2.hasError('minlength')">
                                    El minimo de digitos requerido es 6.
                                </small>
                                <small *ngIf="Password2.hasError('required')">
                                    La contraseña es requerida.
                                </small>
                                <small *ngIf="Password2.hasError('noPasswordMatch')">
                                    Las contraseñas no son iguales
                                </small>

                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Acepto los terminos y condiciones
                        </label>

                    </div>
                    <div class="col text-center py-4">
                        <button type="submit" class="button-1">Registrate</button>
                    </div>
                </form>
                <div class="col text-center">
                    <small> Ya tienes una cuenta? </small>
                    <a class="link" aria-current="page" routerLink="/iniciar-sesion">Inicia sesion</a>
                </div>
            </div>
        </div>
    </div>
</div>