<div class="container p-3px">
    
      <div class="col-12">
          <div class="border bg-light p-3">
            <h2>¿Quienes somos?</h2> 

            <h4>
                Actualmente somos un equipo de 4 integrantes, Sabrina, Jorge, Santiago y Sergio. Miembros del programa PIL nuevas tecnologias, 
                la cual nos capacita en desarrollo Full Stack para introducirnos a este gran area de la tecnologia del software.

            </h4>
            <br>  
            <h2>¿Por que? ¿Que ganamos nosotros?</h2>
            <h4>
                Nosotros estamos aprendiendo,leyendo, poniendo en practica nuestras 
                habilidades de diseño y desarrollo de software, este desafio nos empuja a ser mejores, 
                mientras hacemos lo que nos apasiona.
            </h4>
            <br>
            <h2>¿Y los demas que ganan?</h2>
            <h4>
                Gana el desarrollador o desarrolladora que en un futuro le ayude nuestro codigo, para fines
                educativos o laborales, o la usuaria o usuario que le sea util nuestra aplicacion,talvez sea una
                solucion que le guste, que le aporte valor, sea como sea, lo que si pueden estar seguros, 
                es que detras de estas lineas de codigo hay un equipo comprometido para brindarles la mejor 
                experiencia posible.
            </h4>
            <br>
            <h2>Nuestra Mision </h2>
            <h4>
                Queremos ser parte de tu independencia financiera,donde puedas manejar tu dinero sin comisiones 
                bancarias, ver tus consumos, hacer depositos y transferencias de forma segura, de monedas nacionales
                e internacionales.
            </h4>
            <br>
            <br>
            <b><h1 class="title">¿Que esperas? Sumérgete con nosotros!</h1></b>

          </div>
      </div>
    
</div>    

        
    


