<div class="row d-flex pt-4">
   <div class="col-4">
     <h3>INICIAR SESION</h3>
   </div>
    <div class="pt-4">
        <form>
            <div class="col-md-8">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email"  class="form-control"  [formControl]="mail" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div *ngIf="mailField.invalid && (mailField.dirty || mailField.touched)" class='text-danger'>
                <p *ngIf="mailField.hasError('pattern')">
                    Email no valido
                </p>
                <p *ngIf="passwordField.hasError('required')">
                    El mail es requerido. 
                </p>
            </div> 

            <div class="col-md-8">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" [formControl]="password" id="exampleInputPassword1">
            </div>

            <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class='text-danger'>
                <p *ngIf="passwordField.hasError('pattern')">
                    La clave debe contener una letra Mayuscula y *
                </p>
                <p *ngIf="passwordField.hasError('minlength')">
                    El minimo de digitos requerido es 8.
                </p>
                <p *ngIf="passwordField.hasError('required')">
                    La contraseña es requerida. 
                </p>

            </div>
          

            <div class="pt-4">
                <button type="submit" class="button-1">INICIAR SESION</button>
            </div>
        </form>
    </div> 
</div>
<img class="celu" src="assets/img/celu.svg" alt="cellphoneapp"/>
