.itemNav {
    padding-left:3px;
    margin-left:5px;
    transition-duration: 0.4s;
    color: #7A1DC9;
    box-sizing: border-box;
}

.itemNav:hover {
    border:2px solid #7A1DC9;
    border-radius: 15px;
    background-color: white;
}



